@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
    --color-text: rgb(255, 255, 255);
}

body::-webkit-scrollbar{
    display: none;
}

body.scroll {
  transform: translateY(30px);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

body.scroll.active {
  transform: translateY(0);
  opacity: 1;
}

/* colores */