.containerIndex{
  display: flex;
  flex-direction: column;
  content: "";
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(35, 35, 35);
  overflow-y: auto;
  overflow-x: hidden;
}

.containerIndex::-webkit-scrollbar{
  display: none
}

.containerIndex main{
  height: 150px;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:flex-end;
}

.containerIndex main h1{
  color: var(--color-text);
  max-width: 90%;
  text-align: center;
  font-size: 16px;
}

.containerIndex aside{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
}

.containerIndex aside input{
  padding: 0px;
  margin: 0px;
  width: 75%;
  color: white;
}

.containerIndex span{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  height: 400px;
}

@media (min-width: 768px) {
  .containerIndex main{
    height: 25vh;
  }
  
  .containerIndex main h1{
    max-width: 85%;
    font-size: 28px;
  }
  
  .containerIndex aside input{
    width: 80%;
  }

  .containerIndex span{
    height: 60vh;
  }
}