.bodyNavBar{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px white;
    background-color: var(--color-navbar);
    /*position: fixed;*/
}

.bodyNavBar h2{
    padding: 10px;
    color: var(--color-text);
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.bodyNavBar span{
    height: 50px;
    content: "";
    width: 25%;
    display: flex;
    align-items: flex-end;
    margin-right: 10px; 
}

.bodyNavBar span a{
    height: 100%;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
}